body{
    background-color: #407198;
}

.inicio{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*---------------------------*/
/*----Estilo para el logo----*/
/*---------------------------*/

img{
    width: 15vw;
}


/*-----------------------------*/
/*----Estilo para el titulo----*/
/*-----------------------------*/

.inicio .titulo{
    font-size: 3em;
    color:#ffffff;

}

/*----------------------------*/
/*----Estilo para la tabla----*/
/*----------------------------*/

.listado{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 3em;
}


/*-----------------------------*/
/*----Estilo para el footer----*/
/*-----------------------------*/

.footer{
    text-align: center;
}

.footer p{
    color: #ffffff;
}